.container {
  width: 100%;
}

.content {
  max-width: 1220px;
  margin: 0 auto;

  padding: 2rem 1rem;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  h1 {
    margin-top: 1.5rem;
    font-size: 4rem;
    line-height: 4.5rem;
    color: var(--title);
    font-weight: 600;
  }

  h4 {
    color: var(--title);
    margin: 2.5rem 0 1rem;
  }

  p {
    font-size: 0.875rem;

    span {
      color: var(--title);
      font-weight: 600;
    }
  }

  button {
    font-weight: 600;
    color: var(--white);
    background: var(--green);
    border: none;
    padding: 0.875rem 3rem;
    border-radius: 2.5rem;
    font-size: 0.875rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }

    img {
      margin-right: 0.5rem;
    }
  }
}

.frag {
  display: flex;
  flex-direction: row;

  align-items: center;

  img {
    height: 35px;
    margin-right: 1.5rem;
  }

  p {
    font-size: 0.875rem;
    span {
      color: var(--sub-title);
      margin-right: 0.5rem;
      font-weight: 600;
    }
  }
}

.avatar {
  display: flex;
  flex-direction: row;
  margin-top: 3.5rem;
  margin-bottom: 1rem;

  align-items: center;

  p {
    font-size: 0.775rem;
    font-weight: 500;
  }

  img {
    height: 18px;
    margin-right: 1rem;
  }
}

.footerHeader {
  max-width: 1220px;
  margin: 0 auto 2rem;
  padding: 0 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  div:last-child {
    display: flex;
    flex-direction: column;

    a {
      margin-top: 1rem;

      display: flex;
      flex-direction: row;
      align-items: center;

      img {
        height: 36px;
        margin-right: 1rem;
      }

      span {
        font-size: 1.275rem;
        color: var(--sub-title);
        font-weight: 600;

        transition: color 0.2s;

        &:hover {
          color: var(--title);
        }
      }
    }

    p {
      font-size: 0.875rem;
      color: var(--sub-title);
      font-weight: 600;
    }
  }

  span {
    font-size: 0.875rem;
  }
}

.avatarDiv {
    

  @media (max-width: 600px) {
    align-items: center;
    display: flex;
    flex-direction: column;

    margin-bottom: 2rem;
  }

  div {
    margin: 0 0 1rem;
  }
}

.avatarImg {
  height: 50px;
  @media (max-width: 600px) {
    display: none;
  }
}

.avatarImg2 {
  height: 150px;
  display: none;
  @media (max-width: 600px) {
    display: inline;
  }
}

.primaryImg {
  height: 500px;
  margin-top: -4rem;

  @media (max-width: 600px) {
    width: 100%;
    height: auto;
    margin: 2rem 0;
  }
}
